.topbar .mailbox, .topbar .user-dd{
    min-width: 200px !important;
}

body {
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}

#main-wrapper {
    height: 100%;
}

.modal-backdrop{
    z-index: 49 !important;
}