.topbar .mailbox, .topbar .user-dd{
    min-width: 200px !important;
}
#main-wrapper {
    min-height: 100vh;
}
.modal-backdrop{
    z-index: 49 !important;
}
.dataTables_length{
    label{
        display: flex;
        align-items: center;
        select{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.dataTables_filter{
    label{
        display: flex;
        align-items: center;
    }
}
.error-msg{
    color: red;
    font-style: italic
}
table.dataTable tbody th, table.dataTable tbody td{
    vertical-align: middle;
}
#upload-file{
    text-align: center;
    cursor: pointer;
    #preview-crop-image{
        img{
            width: 100%;
        }
    }
}