#lichtrinh .group button.slick-arrow {border: none;position:absolute;top:50%;margin-top: -50px;z-index:9;cursor:pointer;width: 61px; height: 70px; background: url(arr.png) center no-repeat; transition: 0.3s all ease-in-out; -moz-transition: 0.3s all ease-in-out;-webkit-transition: 0.3s all ease-in-out}
#lichtrinh .group button.slick-next {transform: scaleX(-1); -moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); left: inherit; right: -61px}
#lichtrinh .group button.slick-prev{left: -61px}

/*#lichtrinh .group button.slick-prev:hover { background: url(arrhv.png) center no-repeat;animation: arrmove 1.5s infinite;-webkit-animation: arrmove 1.5s infinite;-moz-animation: arrmove 1.5s infinite}
#lichtrinh .group button.slick-next:hover { background: url(arrhv.png) center no-repeat;animation: arrmove1 1.5s infinite;-webkit-animation: arrmove1 1.5s infinite;-moz-animation: arrmove1 1.5s infinite}*/

#lichtrinh .slick-dots{list-style:none; text-align:center}
#lichtrinh .slick-dots li{display:inline-block;margin:0 5px}
#lichtrinh .slick-dots li button{width:33px;border:none;outline:none;background:url(dotw.png) no-repeat center center;font-family:Arial;font-weight:bold;font-size:20px;color:#fff;line-height:30px;padding-top:11px}
#lichtrinh .slick-dots li button:hover, #lichtrinh .slick-dots li.slick-active button{background:url(dotb.png) no-repeat center center;color:#0e9ee6;cursor:pointer}

#lichtrinh .top { padding-top: 10px; background: #effbff}
#lichtrinh .top .group {margin-top: 40px}
#lichtrinh .group .item { width: calc((100% - 250px) / 6); float: left;}
#lichtrinh .group .item:nth-child(6n) {margin-right: 0}
#lichtrinh .top .group .item .date { width: 102px; height: 157px; background: url(bgitem.png) center no-repeat; background-size: 100% 100%; text-align: center; line-height: 20px; position: relative;margin: auto;display: block;margin-bottom: 10px}
#lichtrinh .top .group .item .date .text { position: absolute; bottom: 42px; width: 100%}
/*#lichtrinh .top .group .item:after { width: 6px; height: 6px; border-radius: 50%; border: 1px solid #fff; background: #0e9ee6; content: ''; display: block; margin: auto;margin-top: 14px}*/

#lichtrinh .bot { padding: 30px 0 100px 0; background: url(bgr.png) repeat-x center bottom -75px #effbff; }
#lichtrinh .bot .group .item .ord { text-align: center; font-size: 26px; color: #0e9ee6; font-family: iCielCadena;margin-bottom: 10px;margin-top:10px}
#lichtrinh .bot .group .item .name { display: block; text-align: center; line-height: 22px;font-family: Arial;padding: 0 10px}

#lichtrinh .bot .group .item:hover, #lichtrinh .bot .group .item:hover .ord, #lichtrinh .bot .group .item:hover .name {color: #1961a8}
#lichtrinh .bot .group .item:hover .date{background: url(bgitemhv.png) center no-repeat}

#about.cate .main { min-height: 550px; background: url(../KhoaHoc/bg.png) bottom center no-repeat; background-size: 100% 100%; position: relative}
#about.cate .main:after { content: ''; width: 100%; height: 47px; background: url(bgafterhp.png) bottom center repeat-x; display: block;background-size: 100% 100%}
#about.cate .main .wrp { min-height: 550px;background: url(bgmain1.png) bottom 35px center no-repeat}
#about.cate.hp .main .wrp { background: url(bgmain1.png) bottom 10px left no-repeat;background-size: auto 440px}
#about.cate .main .item { margin: auto;padding-top: 50px; width: 70.5%} 
#about.cate .main .item .tieude .name { text-align: center}
#about.cate .xct { width: 104px; height: 35px; display: block; background: url(xct.png) no-repeat; background-size: 100% 100%; text-align: center; line-height: 38px; font-family: Arial;margin: auto}
#about.cate .xct:hover {color: #0e9ee6 }
#about.cate .main .item .cont { line-height: 32px; font-size: 16px; max-height: 160px; overflow: hidden; margin-bottom: 20px;text-align: center}
#about.cate .parent { padding: 30px 0 60px 0; }
#about.cate .outoftable { line-height: 25px; max-height: 75px; overflow: hidden; text-align: center}
#about.cate .parent table.group { border-collapse: collapse;}
#about.cate .parent table.group tr td>.ord { width: 42px; height: 42px; background: url(ord.png) center no-repeat; background-size: 100% 100%; text-align: center; line-height: 40px; color: #fff; font-family: iCielCadena;font-size: 16px}
#about.cate .parent table.group tr td:first-child {padding-bottom: 15px}
#about.cate .parent table.group tr td:nth-child(2n) { padding-left: 15px; padding-bottom: 15px; line-height: 22px; font-size: 16px}

#about.cate.list .main { background: url(bgmain.png); background-size: 100% 100%}
#about.cate.list .main .item { float: right;margin: 0}
#about.cate.list .main .item .tieude .name {text-align: right}
#about.cate.list .main .item .xct{float: right}
#about.cate.list .main .item .cont {text-align: right}
#about.cate.list .main:after {display: none}

#about.cate.list .parent .xct {margin-top: 15px}
#about.cate.list .parent #partner .left,#about.cate.list .parent #partner .right { width: 100%;margin-bottom: 45px}
#about.cate.list .parent #partner .tieude .name{ font-family: Arial;font-weight: bold; color: #109ce3; text-transform: uppercase}
#about.cate.list .parent #partner ul li {margin-right: 40px}
#about.cate.list .parent #partner ul li:last-child {margin-right: 0}

#about.detail .other ul { padding: 0; margin: 0;font-size: 16px}
#about.detail .other ul li { line-height: 25px; margin-bottom: 4px;list-style: none}
#about.detail .other ul li:last-child {margin-bottom: 0}
#about.detail .other ul li a { display: block; padding-left: 19px; background: url(lst.png) left top 5px no-repeat}
#about.detail .other ul li a > * {display: inline}
#about.detail .other ul li a:hover {color: #0e9ee6}

#foot { position: relative;padding-top:30px}
#foot .right{padding-top:10px}

#about .content{text-align:center;padding-bottom:30px;}
#about .content .vgName{font-size:20px;font-weight:bold;color:#0a85c9;padding-bottom:15px;margin-top:30px}
#about .content .item{display:inline-block;margin:0 10px;vertical-align:middle}
