.hide{display: none !important;}
.hoanthanhchungchi{width: 1170px;height: 887px ;margin: auto;background: url(success.jpg) no-repeat center center}
.hoanthanhchungchi .name{ font-family: Times New Roman;font-size: 38px;font-weight: bold;text-transform: uppercase ;color: #18499d;position: absolute;bottom: 280px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);-o-transform: translateX(-50%)}
#DanhGia{width:1120px;margin:auto}
#DanhGia .tieude{padding-bottom:20px;background:url(line.png) no-repeat center bottom;padding-top:30px;margin-bottom:38px}
#DanhGia div:after{content:"";display:block;clear:both}
#DanhGia .left{width:430px;float:left;}
#DanhGia .right{width:calc(100% - 465px);float:right}
#DanhGia .right .ques{padding-left:40px;margin-bottom:12px}
#DanhGia .right .rows{width:25%;float:left;text-align:center}
#DanhGia .head{border-bottom:1px solid #d2d2d2;padding-bottom:15px;margin-bottom:20px}
#DanhGia .head .right .rows{font-weight:bold;font-size:15px;}
#DanhGia .witem{margin-bottom:30px}
#DanhGia .witem .title{font-weight:bold;font-size:15px;margin-bottom:20px}
#DanhGia .item{margin-bottom:20px}
#DanhGia .left .titItem{line-height:20px;padding-left:20px;background:url(dot.png) no-repeat left 4px top 8px}
#DanhGia .btSubmit{display:block;text-align:center;font-weight:bold;text-transform:uppercase;background:#109ce3;color:#fff;line-height:35px;border-radius:4px;margin-top:40px;margin-bottom:52px}
#DanhGia .right input{display:none}
#DanhGia .right input + label{display:inline-block;width:17px;height:17px;border-radius:100%;border:1px solid #898989;cursor:pointer}
#DanhGia .right input:checked + label{border:none;background:url(checked.png) no-repeat center center}
#DanhGia .right .content{width:100%;height:150px;border:1px solid #d2d2d2;padding:10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
#DanhGia .rows_rate{ width: calc(25%);float: left;font-weight: bold;line-height: 18px;font-size: 12px}
#DanhGia .box{ width: calc(100% - 35px);height: 5px;background: #e5f4ff;position: relative}
#DanhGia .box .water{ position: absolute;top: 0;left: 0;height: 5px;background: #74add7}

.chitietkh .nowbt{ display: table;margin: auto;font-size: 18px;font-weight: bold;background: #109ce3;text-transform: uppercase;padding: 0 135px;line-height: 40px;color: #fff}
.chitietkh .nowbt:hover{opacity: 0.5}

#khoahoc.hp { padding: 28px 0 90px 0; background: url(bg.png) bottom -10px center no-repeat #d5f6ff; position: relative;background-size: cover}
#khoahoc.hp .group { text-align: center; margin-top: 65px; }
#khoahoc.hp .item { width: calc((100% - 320px) / 3); display: inline-block; margin-right: 155px;position: relative}
#khoahoc.hp .item .khungAnh:after { background: url(bongsach.png) bottom -3px left; width: 100%; content: ''; position: absolute; width: calc(100% + 36px); left: -19px; display: block; height: 18px; bottom: 0;background-size: 100%}
#khoahoc.hp .item:last-child {margin-right: 0}
#khoahoc.hp .item .khungAnh:before {padding-bottom: 119.14%}
#khoahoc.hp .item .khungAnh { position: absolute; width: 100%;display: none} 
#khoahoc.hp .item .khungAnh:first-child {display: block}
#khoahoc.hp:after { position: absolute; bottom: 0; height: 40px; width: 100%; background: url(after.png) bottom left no-repeat; content: '';background-size: 100% 100%}

#khoahoc.cate:after {display: none}
#khoahoc.cate {background-position: bottom -60px center}

#khoahoc.detail { background: none;padding: 0}
#khoahoc.detail:after {display: none}
#khoahoc.detail .info .left { width: 76.49%; float: left;}
#khoahoc.detail .info .left table { width: 100%; border-radius: 5px; border-collapse: collapse;overflow: hidden}
#khoahoc.detail .info .left table tr th { background: #0e9ee6; border-right: 3px solid #fff; padding: 15px 12px; width: 20.89%; text-align: left; vertical-align: top; color: #fff; font-weight: normal; font-size: 18px; font-family: Arial}
#khoahoc.detail .info .left table tr td { background: #d3f0ff; width: 79.11%;padding: 15px 10px; font-size: 16px; line-height: 22px}
.btnxembaigiang { display: block; width: 190px; height: 39px; background:url(bgxembaigiang.png) top left no-repeat; border-radius: 12px;margin-top: 15px; position: relative ; margin-left: 3px;background-size: 100% 100%}
.btnxembaigiang:hover {background: url(bgxembaigianghv.png) top left no-repeat}
.btnxembaigiang p { font-family: Arial;font-weight: bold; text-transform: uppercase; color: #fff; display: table; margin: auto; line-height: 45px; padding-left: 21px; background: url(icoxembaigiang.png) left center no-repeat}

#khoahoc.detail .cont {margin: 20px 0}
#khoahoc.detail .cont .demuc { padding: 7px 17px; border-radius: 16px; background: #0e9ee6; display: table; color: #fff; font-family: Arial;font-weight: bold}
#khoahoc.detail .cont .cont-demuc { line-height: 22px; font-size: 16px; margin: 12px 0}
#khoahoc.detail .cont .hoatdong .demuc { padding-right: 70px;position: relative}
#khoahoc.detail .cont .hoatdong .demuc:after { content: url(demuc-hoatdong.png); position: absolute; right: 0; top: -10px}

#khoahoc.detail .info .right { width: 19.8%;float: right}
#khoahoc.detail .info .right .group { margin: 0;height: auto!important}
#khoahoc.detail .info .right .group .item {width: 100%} 
#khoahoc.detail .other {margin-top: 30px}
#khoahoc.detail .other .group {margin-top: 0}
#khoahoc.detail .other .group .item { width: 231px;margin-right: 80px}
#khoahoc.detail .other .group .item:last-child {margin-right: 0}

#khoahoc.index,#khoahoc.cate { padding: 40px 0 75px 0; background: url(bgkhoahoc.png) bottom left;background-size: cover}
#khoahoc.index .groupindex {margin-top: 50px}
#khoahoc.index .groupindex .item1 { width: calc((100% - 42px) / 2); float: left; margin-right: 42px; position: relative; color: #fff}
#khoahoc.index .groupindex .item1:nth-child(2n) {margin-right: 0}
#khoahoc.index .groupindex .item1 .khungAnh:before {padding-bottom: 49.64%}
#khoahoc.index .groupindex .item1 .overinfo { position: absolute; top: 0; left: 0; background: url(bgchuahover.png) bottom center no-repeat; width: 100%; height: 100%; pointer-events: none; display: block; z-index: 5;background-size:contain}
#khoahoc.index .groupindex .item1 .info { position: absolute; bottom: 0px; z-index: 6; height: 42px; overflow: hidden; transition: 0.5s all ease-in-out; -moz-transition: 0.5s all ease-in-out; -webkit-transition: 0.5s all ease-in-out}
#khoahoc.index .groupindex .item1 .info .name { font-size: 22px; color: #fff; font-family: Arial;font-weight: bold; display: block; text-align: center; margin-bottom: 20px; height: 26px; text-transform: uppercase; overflow: hidden;transition: 0.5s 0.3s ease-in-out}
#khoahoc.index .groupindex .item1:hover .info { height: 100%;background: url(bghover.png) bottom center no-repeat;background-size:contain}
#khoahoc.index .groupindex .item1:hover .info .name {margin-top: 70px}
#khoahoc.index .groupindex .item1 .info .cont { width: 76.07%; margin: auto; font-size: 15px; line-height: 22px; height: 66px; overflow: hidden;text-align: center}
#khoahoc.index .groupindex .item1 .info .hocngay { display: block; width: 102px; height: 35px; background: url(hocngay.png) center no-repeat; line-height: 40px; color: #0e9ee6; text-align: center; font-family: Arial; font-size: 15px; margin: auto; margin-top: 20px}


#baihoc .top { position: relative; width: 100%;height: 100%}
#baihoc .left { width: 28.18%; position: absolute; left: 0; height: 100%; transition: 0.7s all ease-in-out; -moz-transition: 0.7s all ease-in-out;-webkit-transition: 0.7s all ease-in-out}
#baihoc .tabcontents { position: absolute; height: calc(100% - 54px); width: 100%;overflow: auto}
#baihoc .left .tabs { padding:0; margin: 0; list-style: none; width: 100%; display: table}
#baihoc .left .tabs li { float: left; width: calc(calc(100% - 4px)/ 3); text-align: center; background: #0e9ee6; padding: 8px 0; border-right: 1px solid #0891d5; border-left: 1px solid #2aaaea}
#baihoc .left .tabs li a {display: block}
#baihoc .left .tabs li:last-child {border-right: none}
#baihoc .left .tabs li:first-child {border-left: none}
#baihoc .left .tabs li span.ico { height: 14px; display: block; background-position: top -14px center!important; margin-bottom: 5px;}
#baihoc .left .tabs li:hover span.ico,#baihoc .left .tabs li.selected span.ico {background-position: top center!important}
#baihoc .left .tabs li span.text { font-family: Arial;font-weight: bold;color: #fff}
#baihoc .left .tabs li:hover span.text,#baihoc .left .tabs li.selected span.text {color: #257bbc}
#baihoc .left .tabs li:hover,#baihoc .left .tabs li.selected {background: #fff}
 
#baihoc .right { width: 71.82%; float: right; position: absolute; right: 0; height: 100%;transition: 0.7s all ease-in-out; -moz-transition: 0.7s all ease-in-out;-webkit-transition: 0.7s all ease-in-out} 
#baihoc .right .tenbai { background: #cccccc; width: 100%; height: 54px}
#baihoc .right .tenbai .backstudy { width: 54px; height: 54px; background: url(back.png) center no-repeat #8e8e8e; display: block;float: left}
#baihoc .right .tenbai .name {font-size: 20px; font-family: Arial;font-weight: bold; margin-left: 20px; float: left; width: 75%; line-height: 54px;overflow: hidden}
#baihoc .right .tenbai .backpage { float: right; line-height: 54px; margin-right: 30px; color: #666666; font-size: 14px; font-family: Arial;font-weight: bold; padding-left: 12px; background: url(backpage.png) left center no-repeat}
#baihoc .right .tenbai .backpage:hover {color: #0e9ee6}
#baihoc .right #videoPlayer { width: 100%; position: absolute; top: 54px; height: calc(100% - 54px)!important}
 
#baihoc .parent .catename { background: #e2f2ff; padding: 16px 20px; font-size: 16px; color: #333; font-family: Arial;font-weight: bold; line-height: 22px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;border-bottom: 1px solid #d2d2d2}
#baihoc .parent .catename:hover, #baihoc .parent .catename.active{ color: #0e9ee6;cursor: pointer}
#baihoc .parent ul { padding: 0; margin: 0;list-style: none}
#baihoc .parent ul li { padding: 15px 10px; box-sizing: border-box;border-bottom: 1px solid #e8e8e8}
#baihoc .parent ul li .ico { width: 32px; height: 32px; float: left; background: url(ico.png) center no-repeat; margin-right: 10px;margin-top: 5px}
#baihoc .parent ul li:hover .ico {background: url(icohv.png) center no-repeat}

#baihoc .parent .dau.ico { float:right;margin-right:0;width: 25px;height: 25px;background:url(addb.png) no-repeat center}
#baihoc .parent .catename:hover .dau.ico{background: url(addh.png) center no-repeat}
#baihoc .parent .catename.active .dau.ico{background: url(sub.png) center no-repeat}

#baihoc .parent ul li:hover .dau.ico {background: url(addh.png) center no-repeat}
#baihoc .parent ul li .info { width: calc(100% - 74px);float: left}
#baihoc .parent ul li .info .name { font-family: Arial;font-weight: bold; display: block; margin-bottom: 4px; line-height: 22px;cursor: pointer}
#baihoc .parent ul li .desc{font-size:15px;line-height:26px;padding:10px;display:none}
#baihoc .parent ul li.ac .desc{display:block}
#baihoc .parent ul li:hover .info .name {color: #0e9ee6}
#baihoc .parent ul li .info .time{ font-size: 13px; padding-left:20px ; color: #999;background: url(time.png) left center no-repeat}
#baihoc .parent ul li .info .totalview{ background: url(per.png) left bottom 3px no-repeat;margin-left: 10px}
#baihoc .parent ul li .time.lock{ background: url(lock.png) no-repeat center top;margin-left: 10px;padding-top: 2px}
#baihoc .parent ul li[seen=true] .lock{background: url(unlock.png) no-repeat center top}
#baihoc #view1 .parent ul li.ac .ico {background: url(icohv.png) center no-repeat}
#baihoc #view1 .parent ul li.ac .dau.ico{background: url(sub.png) center no-repeat}
#baihoc #view1 .parent ul li.ac .info .name {color: #0e9ee6}
#baihoc #view2 .parent ul li .ico {background: url(ico1.png) center no-repeat}
#baihoc #view2 .parent ul li:hover .ico {background: url(ico1hv.png) center no-repeat}
#baihoc #view2 .parent ul li .totalview,#baihoc #view2 .parent ul li .totaldown { color: #999; font-size: 13px; padding-left: 20px}
#baihoc #view2 .parent ul li .totalview { background: url(totalview.png) left center no-repeat;margin-right: 18px}
#baihoc #view2 .parent ul li .totaldown {background: url(totaldown.png) left center no-repeat}
#baihoc #view2 .parent ul li .totaldown:hover {color: #0e9ee6}

#baihoc #view3 { padding: 15px; box-sizing: border-box; padding-right: 25px}
#baihoc #view3 .ques textarea.tartl { max-width: 100%; height: 96px; width: 100%; border: 1px solid #cccccc; border-radius: 3px; margin-bottom: 10px}
#baihoc #view3 .ques .btnques { display: block; width: 111px; height: 38px; text-transform: uppercase; background: #109ce3; line-height: 38px; text-align: center; color: #fff; font-size: 14px; font-family: iCielGotham;border-radius: 3px}
#baihoc #view3 .ques .btnques:hover {background: #257bbc}
#baihoc #view3 .ques { padding-bottom: 21px; background: url(bgques.png) bottom center no-repeat}
#baihoc #view3 .ans .item {margin-top: 25px}
#baihoc #view3 .ans .item .khungAnh { width: 40px; border-radius: 50%; border: 2px solid #287dbd; float: left; overflow: hidden; box-sizing: border-box;}
#baihoc #view3 .ans .item .khungAnh:before {padding-bottom: 100%}
#baihoc #view3 .ans .item .info { width: calc(100% - 52px);float: right}
#baihoc #view3 .ans .item .info .cont {line-height: 22px}
#baihoc #view3 .ans .adans { box-sizing: border-box; padding: 20px; background: #f4f4f4; margin-top: 20px; position: relative; border: 1px solid #cccccc;border-radius: 3px}
#baihoc #view3 .ans .adans:before { content: ''; width: 9px; height: 9px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; display: block; top: -6px; background: #f4f4f4;left: 21px}
#baihoc #view3 .ans .adans .item {margin-top: 0}

#baihoc .bot { height: 50px; background: #cccccc; padding-left: 35px; box-sizing: border-box}
#baihoc .bot ul {margin: 0; list-style: none; display: block;}
#baihoc .bot ul li:first-child {padding-left: 0}
#baihoc .bot ul li { padding: 11px 22px 0 20px; background: url(bgbot.png) right center no-repeat; float: left; height: 50px; box-sizing: border-box}
#baihoc .bot ul li.percent .box { width: 326px; height: 24px; background: #fff; display: inline-block; border-radius: 20px; position: relative; overflow: hidden; vertical-align: middle; box-sizing: border-box}
#baihoc .bot ul li.percent .box .inbox { content: ''; position: absolute;background: url(bgpercent.png); height: 100%; top: 0; left: 0}
#baihoc .bot ul li:nth-child(3), #baihoc .bot ul li:last-child {background: none}
#baihoc .bot ul li:last-child{ float: right;display: none}
#baihoc .bot ul li:last-child a{background:#109ce3;color:#fff;display:table;line-height:35px;margin-top:-3px;padding:0 10px;border-radius:4px;text-transform:uppercase;font-weight:bold}

#baihoc .bot ul li .prev { width: 30px; height: 30px; display: inline-block; background: url(prev.png) center no-repeat #fff; border-radius: 50%; overflow: hidden;vertical-align: middle}
#baihoc .bot ul li .prev:hover {background-color: #b2caff}
#baihoc .bot ul li .next { transform: scaleX(-1); -moz-transform: scaleX(-1); -webkit-transform: scaleX(-1);margin-left: 6px}

#baihoc .bot ul li .check { display: inline-block; width: 48px; height: 24px; position: relative; vertical-align: middle; background: #fff; border-radius: 20px;margin-left: 8px;cursor:pointer}
#baihoc .bot ul li .check input[type=checkbox] { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; opacity: 0}
#baihoc .bot ul li .check:after { content: ''; width: 20px; height: 20px; display: block; border-radius: 100%; background: #999999; top: 2px; position: absolute; left: 3px; transition: 0.3s all ease-in-out; -moz-transition: 0.3s all ease-in-out;-webkit-transition: 0.3s all ease-in-out}
#baihoc .bot ul li .check.ac:after{ left: calc(100% - 23px);background: #0e9ee6;}
#baihoc .bot ul li .check.ac{background: #e2f2ff}

#baihoc .left.ac {left: -100%}
#baihoc .right.ac {width: 100%}
#baihoc .right.ac .backstudy { transform: scaleX(-1); -moz-transform: scaleX(-1);-webkit-transform: scaleX(-1)}

#Analytisc{ width: calc(100% - 20px);max-width: 1170px;margin: auto;padding: 50px 0 35px 0}
#Analytisc .tit{ font-family: iCielCadena;font-size: 34px;color: #109ce3;margin-bottom: 15px}
#Analytisc .Filter{ padding: 20px 10px;background: #e6f9ff;margin-bottom: 30px}
#Analytisc .Filter .item{ width: calc((100% - 10px) / 3); display: inline-block}
#Analytisc .Filter .item label{ font-weight: bold;display: block}
#Analytisc .Filter .item select{ width: 100%;padding:0 10px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;height: 32px;border-radius: 4px;border: 1px solid #d2d2d2;margin-top: 8px;margin-bottom: 15px;outline: none}
#Analytisc .Filter .btn .btn-search-statistical{cursor: pointer; display: table;margin: auto;padding: 0 150px;font-size: 18px;font-family: iCielCadena;line-height: 40px;color: #fff;background: #0e9ee6;border-radius: 5px}
#Analytisc .tit2{font-family: iCielCadena;font-size: 28px;color: #109ce3;margin-bottom: 15px}
#Analytisc .groupItems .item.head{ background: #0e9ee6;color: #fff;font-weight: bold;text-transform: uppercase}
#Analytisc .groupItems .item{ padding: 10px 0;background: #eefbff;border: 1px solid #cdeeff;border-top:none}
#Analytisc .groupItems .item:after{content: "";display: block;clear: both}
#Analytisc .groupItems .item .col{float: left}
#Analytisc .groupItems .item .col1{ width: 50px;text-align: center}
#Analytisc .groupItems .item .col2{width: 170px}
#Analytisc .groupItems .item .col3{width: 180px}
#Analytisc .groupItems .item .col4{width: 285px}
#Analytisc .groupItems .item .col5{width: 225px;text-align: center}
#Analytisc .groupItems .item .col6{width: 240px;text-align: center}