.NewsOther ul{ padding: 0;margin: 0;list-style: none}
.NewsOther ul .khungAnh{ width: 100px;float: left}
.NewsOther ul .khungAnh:before{padding-bottom: 67%}
.NewsOther ul li{margin-bottom: 20px}
.NewsOther ul li:after{ display: block;content: "";clear: both}
.NewsOther .titleItem{ width: calc(100% - 113px);float: right;font-size: 16px;line-height: 22px;max-height: 66px;overflow: hidden;display: block}
.NewsOther .titleItem:hover{color: #109ce3}

#new.hp { padding: 30px 0 60px 0;font-family: Arial}
#new.hp ul.tab { padding: 0; margin: 0; margin-bottom: 35px; list-style: none; text-align: center}
#new.hp ul.tab li { display: inline-block; margin-right: 5px;background: url(bgtab.png) top left no-repeat; background-size: 100% 100%; padding: 5px 0px 2px 3px;}
/*#new.hp ul.tab li:first-child {background: url(bgtab1.png) top left no-repeat; background-size: 100% 100%; padding: 5px 0px 2px 3px;}
#new.hp ul.tab li:last-child {margin-right: -4px}*/
#new.hp ul.tab li a { display: block; height: 30px; line-height: 30px; background: #eafaff; border-radius: 50px; padding: 0 32px; }
#new.hp ul.tab li.active a,#new.hp ul.tab li:hover a {color: #0e9ee6}

#new.hp .left { width: 65.81%;float: left}
#new.hp .left .item { width: calc((100% - 31px) / 2); float: left; margin-right: 30px}
#new.hp .left .item:nth-child(2n) {margin-right:0}
#new.hp .left .item .khungAnh:before {padding-bottom: 66.21%}
#new.hp .left .item .khungAnh .over { position: absolute; top: 0; left: 0; z-index: 6; width: 101%; height: 100%; background: url(overnew.png) top left no-repeat; background-size: 100% 100%}
#new.hp .left .item .khungAnh .date { border-radius: 22px; background: rgba(16, 162, 236, 0.8); position: absolute; top: 0; left: 0; display: block; z-index: 5; color: #fff; text-align: center;padding: 13px;padding-left: 30px;margin-top: 6px ;font-size: 14px }
/*#new.hp .left .item .khungAnh .date .day { font-size: 18px;margin-bottom: 3px}
#new.hp .left .item .khungAnh .date .date1 { margin-top: 20px;margin-left: 7px}
#new.hp .left .item .khungAnh .date .month {font-size: 13px}*/
#new.hp .left .item .name { line-height: 22px;font-family: Arial;font-weight: bold ; display: block;height: 44px; overflow: hidden; margin-bottom: 15px; margin-top: 10px;font-size: 17px}
#new.hp .left .item .name:hover,#new.hp .right .item .name:hover {color: #0e9ee6}
#new.hp .left .item .cont { line-height: 22px; max-height: 66px; overflow: hidden; color: #666;}

#new.hp .right { width: 31.62%;float: right}
#new.hp .right .item { margin-bottom: 13px; padding-bottom: 13px;border-bottom: 1px dashed #f4f2f2}
#new.hp .right .item .date { width: 68px; background: #eafaff; border: 1px dashed #b7eeff; color: #11a4ee; font-family: Arial;padding: 12px 0; text-align: center; border-radius: 4px;float: left;font-size: 12px}
#new.hp .right .item .date .day {margin-bottom: 4px}
#new.hp .right .item .date .month {font-size: 12px}
#new.hp .right .item .name { width: calc(100% - 84px); float: right; display: block; line-height: 22px; max-height: 44px; overflow: hidden}

#new.cate { margin-bottom: -50px;padding: 0}
#new.cate .left { width: 100%;float: none}
#new.cate .left .item,#new.cate .left .item:nth-child(2n) { width: calc((100% - 54px) / 3); float: left; margin-right: 27px;margin-bottom: 50px}
#new.cate .left .item:nth-child(3n) {margin-right: 0}
#new.cate .tieude {margin-bottom: 20px}

#lichtrinh .cont{ text-align: center;padding: 0 30px;line-height: 21px}
#LichTrinh #lichtrinh .bot{background:url(bglt.jpg) repeat-x center bottom;padding-bottom:40px;padding-top:35px}
#LichTrinh #lichtrinh .cont{ display: none;}
#LichTrinh #lichtrinh .slick-dots{margin-top:37px}
.LichTrinhDetail{margin-top:35px}

#about .colleft{ width: calc(100% - 330px);float: left}
#about .colright{ width: 300px;float: right}