.wrap-pagination nav {
  text-align: center;
  position: relative;
  bottom: 20px;
}

.wrap-pagination nav ul.pagination {
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: inline-flex;
  margin-top: 40px;
}

.wrap-pagination nav ul.pagination .page-item {
  margin-left: 5px;
}

.wrap-pagination nav ul.pagination .page-item .page-link {
  display: block;
  padding: 6px 11px;
  border-radius: 3px;
  background: #f2f2f2;
  color: #333;
}

.wrap-pagination nav ul.pagination .page-item.active .page-link {
  background: #0e9ee6 !important;
  color: #fff !important;
  border-color: #0e9ee6 !important;
}

.CommonLanguage li.active a {
  color: white;
}

#CommonMenuFooter a.active {
  color: #68c5f6;
}

#foot {
  padding-top: 25px !important;
}

#CommonMenuBottom a.active {
  color: white;
}

