#slide_background, #success_background, #loginForm_background, #ForgotForm_background {
    -webkit-transition: all 0.3s 0.3s;
    -moz-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s;
}

#slide, #slide_wrapper, #success, #loginForm, #ForgotForm, #success_wrapper {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#foot {
    position: relative;
    padding-top: 0px
}

#foot .right {
    padding-top: 0px
}

.look-like-link {
    border: none;
    padding: 0 !important;
}

.popup_A {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    opacity: 0;
    transition: 0.7s;
    pointer-events: none;
}
.popup_A.active {
    pointer-events: auto;
    opacity: 1;
}
.popup_A .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    transition: 0.3s;
    display: inline-block;
    width: 90%;
    min-height: 550px;
    box-sizing: border-box;
}
.popup_A .content iframe {
    min-height: 550px;
    width: 100%;
    height: 90vh;
}
.noidungNhung {
    overflow-y: scroll;
}
@media (max-width: 767px) {
    .popup_A .content {
        width: 90%;
        max-width: 500px;
        height: auto;
   }
}
.popup_A .content a.closed {
    color: #d3d3d3;
    font-size: 16px;
    display: inline-block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
   /* display: block;
    */
    position: absolute;
    top: -34px;
    right: -34px;
    z-index: 100000;
}
.popup_A .content a.closed:hover {
    color: #109ce3;
}
@media (max-width: 767px) {
    .popup_A .content a.closed {
        margin-bottom: 7px;
   }
    .popup_A .content .khungAnh1.pc {
        display: none;
   }
    .popup_A .content .khungAnh1.mobile {
        display: block !important;
   }
}
.popup_A .content .khungAnh1.pc {
    margin: 0 auto;
    overflow: hidden;
}
.popup_A .content .khungAnh.pc:before {
    padding-bottom: 100%;
}
.popup_A .content .khungAnh1.mobile {
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    display: none;
}
.popup_A .content .khungAnh.mobile:before {
    padding-bottom: 125%;
}
.kiemtra {
    background: #109ce3;
    color: #fff;
    line-height: 35px;
    margin-top: -3px;
    padding: 0 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 50px;
}
.kiemtradiv {
    margin-top: 20px;
    text-align: center;
}
#work_place{
    background-color: white !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 100%;
    top: 2px;
    position: relative;
    width: 300px;
}
.select2-container .select2-selection--single{
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 35px;
}
#Analytisc .Filter .item label{
    margin-bottom: 10px;
}
.btn-search-statistical{
    margin-top: 20px !important
}
.popup-evaluation .content{
    background-color: #fff;
    text-align: left;
    
}
.popup-evaluation .content .khungAnh1{
    height: 500px;
    overflow-y: scroll !important;
}
.popup-evaluation .cols{
    float: left;
}
.popup-evaluation .left,
.popup-evaluation .right{
    width: 20%
}
.popup-evaluation .right{
    float: right;
}
.popup-evaluation .center{
    width: 60%
}
.popup-evaluation ul.icons{
    list-style: none;
    margin-top: 0;
    position: relative;
    top: -25px;
}
.popup-evaluation ul li{
}
.popup-evaluation img{
    width: 150px;
}
.popup_A .content a.closed{
    color: white;
    font-size: 30px;
    display: inline-block;
    background: #399EE6;
    text-align: center;
    border-radius: 0%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
}
.popup-evaluation .content a.closed:hover {
    color: gray;
}
.popup-evaluation .header{
    text-align: center;
    font-size: 27px;
    width: 100%;
    color: #399EE6;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.popup-evaluation .radios{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}
.popup-evaluation .title{
    font-weight: bold;
}
.popup-evaluation .radios li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.popup-evaluation .radios li label{
    cursor: pointer;
}
.popup-evaluation .btnSubmitReview {
    width: 235px;
    height: 35px;
    display: block;
    background: #109ce3;
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: bold;
}