@font-face {
	font-family: 'iCielGotham';
	src: url('iCielGotham-Bold.eot');
	src: url('iCielGotham-Bold.eot?#iefix') format('embedded-opentype'),
		/* url('iCielGotham-Bold.woff2') format('woff2'), */
		url('iCielGotham-Bold.woff') format('woff'),
		url('iCielGotham-Bold.ttf') format('truetype'),
		url('iCielGotham-Bold.svg#iCielGotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'iCielCadena';
	src: url('iCielCadena.eot');
	src: url('iCielCadena.eot?#iefix') format('embedded-opentype'),
		/* url('iCielCadena.woff2') format('woff2'), */
		url('iCielCadena.woff') format('woff'),
		url('iCielCadena.ttf') format('truetype'),
		url('iCielCadena.svg#iCielCadena') format('svg');
	font-weight: 900;
	font-style: normal;
} 